@import url("https://fonts.googleapis.com/css2?family=Esteban&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

:root {
  --backgroundwhole: #171717;
  --white: #ffffff;
  --backgroundproject: #303030;
  --innerbackgroundproject: #4d4d4d;
  --footertext: #c4c4c4;
  --backgroundskills: #000000;
  --backgroundsocials: #252525;
  --navlinktext: #787878;
  --backgroundmail: #242424;
  --backgroundcontactme: #323232;
}
.header-aboutme {
  border-radius: 72px;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.5em 2em;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}
.header-aboutme h1 {
  color: #fff;
  font-size: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.the-writeup {
  color: #fff;
  font-size: 25px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.the-writeup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dedicated p {
  color: #fff;
  font-size: 20px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 2em;
}
.mywrite-up {
  display: flex;
  justify-content: space-around;
  padding: 6em;
}
.actual-writeup {
  padding-left: 10em;
}
.aboutme-picture {
  width: 100%;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1220px) {
  .mywrite-up {
    padding: 6em 2em;
  }
  .header-aboutme {
    padding: 0.5em 1em;
  }
}
@media (max-width: 1170px) {
  .header-aboutme {
    width: fit-content;
  }
  .actual-writeup {
    padding-left: 5em;
  }
}
@media (max-width: 965px) {
  .dedicated p {
    font-size: 15px;
  }
}
