@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
    --backgroundwhole : #171717;
    --white : #FFFFFF;
    --backgroundproject : #303030;
    --innerbackgroundproject : #4D4D4D;
    --footertext : #C4C4C4;
    --backgroundskills : #000000;
    --backgroundsocials : #252525;
    --navlinktext : #787878;
    --backgroundmail : #242424;
    --backgroundcontactme : #323232;
  }
.header-contactme {
    border-radius: 72px;
    border: 3px solid #FFF;
    display: flex;
    justify-content: center ;
    align-items: center;
    width: fit-content;
    padding: 0.5em 2em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;

}
.header-contactme h1 {
    color: #FFF;
font-size: 16px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
line-height: normal;
}

  /* .contactme {
    /* padding: 6em; */
  
  textarea {
    resize: none;
    background-color: black;
   border: 1px solid var(--white);
   border-radius: 20px;
   width: 100%;
   height: 300px;
   color: white;
   padding: 0.3em 0em;
  }
  form label {
    color: #FFF;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;

  }
  form input {
    border: none;
    background-color: black;
    border-bottom: 1px solid var(--white);
    width: 100%;
  color: var(--white);
  color: white;
  }
 
  form input:focus {
    border: none;
    background-color: var(--backgroundwhole);
    border-bottom: 1px solid var(--white);
  }
  form {
    width: 614px;
  }
  .CONTACT {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
  }
  .img-contactme {
    align-self: center;
  }
  .send {
    background: #FFF;
    color: var(--backgroundwhole);
    color: #000;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: 2px solid white;
padding: 0.5em 2em;
margin: 3em auto;
display: flex;
justify-content: center;
  }

  @media  (max-width: 1170px) {
    .header-contactme {
      width: fit-content;
    }
    form {
      width: 500px;
    }
    .img-contactme {
      align-self: flex-start;
    }
    textarea {
      height: 200px;
    }
  }
  
@media (max-width: 908px) {
    .CONTACT {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .img-contactme {
      align-self: center;
    }
    .FORM{
    width: 100%;
    margin-right: 0em;
    }
    form {
    margin: 0 auto;
    width: 80%; 
    margin-top: 3em;
    }
}
form input {
  height: 30px;
}
@media (max-width: 450px) {
  .img-contactme img {
    width: 90%;
   
  }
  .img-contactme {
    display: none;
    justify-content: center;
    align-items: center;
  }
  .CONTACT {
    margin-top: 1em;
  }
}
textarea {
  padding: 1em 1em;
}
/* .menu .list a {
  display: inline-block;
  text-decoration: none;
} */
